.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}

.image{
	position:relative;
	border: 10px solid #fff;
	overflow: hidden;
	background-color:#000;
	float: left;
}
.image:before
{
	content:'';
	position:absolute;
	top:10px;
	bottom:10px;
	left:10px;
	right:10px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
	box-sizing: border-box;
	transition:0.5s;
    transform: scaleX(0);
    background-color:#000;
	opacity:0.1;
    z-index:1;
    
}

.image:hover:before
{
	transform: scaleX(1);
	opacity:1;
}
.image:after
{
	content:'';
	position:absolute;
	top:10px;
	bottom:10px;
	left:10px;
	right:10px;
	border-right:2px solid #fff;
	border-left:2px solid #fff;
	box-sizing: border-box;
	transition:0.5s;
	transform: scaleY(0);
	opacity:0;
	z-index:1;
}

.image:hover:after
{
	transform: scaleY(1);
	opacity:1;
}

.image .img
{
    position:relative;
}
.image .img img
{
	width:100%;
	transition: 0.5s;
}
.image:hover .img img
{
	opacity: .2;
	transform: scale(1.2);
}

.image .txt
{
	font-family: "calibri";
	text-align: center;
	position:absolute;
	width: 100%;
	top:40%;
	transform: translateY(-50%);
	z-index: 2;
	padding: 20px;
	box-sizing: border-box;
} 
.image .txt h1
{
	margin: 0 0 10px;
	padding: 0;
	color:#fff;
	transition: 0.5s;
	transform: translateY(-50px);
    opacity: 0;
    font-weight:600;
	visibility: hidden;
}
.image .txt p
{
	margin: 0;
	padding: 0;
	color:#fff;
	transition: 0.5s;
	transform: translateY(50px);
    opacity: 0;
    font-weight:500;
	visibility: hidden;
}

.image:hover .txt p,
.image:hover .txt h1
{
	opacity: 1;
	visibility: visible;
	transform: translateY(0px);
	transition-delay: 0.2s;
}

.image:hover .txt{
    visibility:visible;
}
