@media screen and (max-width:1600px)
{
	.setaf{
		width:10000px;
		height:30px;
	}

	#menu ul {
		list-style:none;
		padding:5px 495px;
		

	}

	#menu ul li{
		float:left;
		line-height:30px;
		border-width:5px;
		

		
	}

	#menu ul li a{
		padding:10px 20px;
		color:#282828;
		font-size:19px;
		font-family:century gothic;
		text-decoration:none;
		font-weight:bold;
		display:block;
		
	}

	#menu ul li a:hover{
		color:#A9A9A9;
		
	}
}
@media screen and (max-width:320px)
{
	.setaf{
		width:320px;
		height:30px;
	}

	#menu ul {
		list-style:none;
		padding:5px 30px;
		

	}

	#menu ul li{
		float:left;
		line-height:30px;
		border-width:5px;
		

		
	}

	#menu ul li a{
		padding:10px 10px;
		color:#282828;
		font-size:16px;
		font-family:century gothic;
		text-decoration:none;
		font-weight:bold;
		display:block;
		
	}

	#menu ul li a:hover{
		color:#A9A9A9;
}